    .dice{
    border: 2px red solid;
    border-radius: 25px;
    background-color: lightgray;
    width: 100px;
    height: 100px;
    margin: 20px;
    display: flex;
   
}                                                               

.dot{
    width: 10px;
    height: 10px;
    border: 1px red solid;
    background-color: red;
    border-radius: 10px;
}

#d1{
    justify-content: center;
    align-items: center;
}

#d2{
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#d3{
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#d4{
    flex-direction: row;
    justify-content: space-evenly;
    /* align-items: center; pas besoin de align item : center car, il bloque nos élements dans le centre. Et impossible de les monter ou les descendre */
}

#d4 >div{
   justify-content: space-evenly;
   flex-direction: column;
   display :flex
}

/* #d4 .dot:last-child{
    display: flex;
    flex-direction: column;
    justify-self: left;

} */

#d5 {
    flex-direction: row;
    justify-content: space-evenly;
    /* align-items: center; meme commentaire que d4 */
}
#d5 > div > .dot {
    justify-content: space-evenly;
   flex-direction: column;
   display :flex
}

#d5 > .dot {
    align-self: center;
    background-color: black;
}



/* .madiv {
   justify-content: space-evenly;
   flex-direction: column;
   display :flex
}

#d7 { 
    justify-content: center;
    align-self: center;
} */

#d6 {
    flex-direction: row;
    justify-content: space-evenly;
    /* align-items: center; */
}


#d6 >div{
   justify-content: space-evenly;
   flex-direction: column;
   display :flex
}




/* .premier {
    display: flex;
    flex-direction: row;
    row-gap: 30px; */
}
    /* display: flex;
    flex-direction: column; */



/* div > #d4 {
    display: flex;
    justify-content: space-between;
} */


/* #d4 .dot:last-child{
    align-self: flex-end;
} */